.table-fixed thead th, .table-fixed tbody td {
  word-wrap: break-word;
}

.table-fixed thead th:nth-child(5),
.table-fixed tbody td:nth-child(5) {
  max-width: 270px;
}

.table .form-check-input {
  opacity: 1;
  border: 1px solid #adb5bd;
}

.form-switch .form-check-input {
  border-radius: 2em;
}

.bg-light .form-switch .form-check-input {
  background-color: #adb5bd;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 2em;
}

.bg-light .form-switch .form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.rbt-menu .dropdown-item.active,
.rbt-menu .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  background-color: var(--bs-dropdown-link-active-bg);
}

.rbt-menu .dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--bs-dropdown-link-hover-bg);
}

.rbt-menu {
  padding: var(--bs-dropdown-padding-y) 0;
  border: var(--bs-border-width) solid var(--bs-border-color);
  box-shadow: var(--bs-box-shadow);
}

.rbt-close-content {
  display: none;
}